APP_NAME=QuickShare
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_DAILY_DAYS=7

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=quickshare
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

LOAN_MIN_BORROW_SCORE=30
LOAN_AGREEMENT_DISK=local
LOAN_AGREEMENT_VERSION=1.0

LOAN_TIER_BRONZE_MIN=0
LOAN_TIER_BRONZE_MAX=49.99
LOAN_TIER_BRONZE_NAME=bronze
LOAN_LIMIT_BRONZE=500
LOAN_INTEREST_BRONZE=30
LOAN_PLATFORM_FEE_BRONZE=5
LOAN_LENDER_RETURN_BRONZE=25
LOAN_DURATIONS_BRONZE=7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30

LOAN_TIER_SILVER_MIN=50
LOAN_TIER_SILVER_MAX=69.99
LOAN_TIER_SILVER_NAME=silver
LOAN_LIMIT_SILVER=1000
LOAN_INTEREST_SILVER=30
LOAN_PLATFORM_FEE_SILVER=5
LOAN_LENDER_RETURN_SILVER=25
LOAN_DURATIONS_SILVER=7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30

LOAN_TIER_GOLD_MIN=70
LOAN_TIER_GOLD_MAX=84.99
LOAN_TIER_GOLD_NAME=gold
LOAN_LIMIT_GOLD=1500
LOAN_INTEREST_GOLD=30
LOAN_PLATFORM_FEE_GOLD=5
LOAN_LENDER_RETURN_GOLD=25
LOAN_DURATIONS_GOLD=7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30

LOAN_TIER_PLATINUM_MIN=85
LOAN_TIER_PLATINUM_MAX=100
LOAN_TIER_PLATINUM_NAME=platinum
LOAN_LIMIT_PLATINUM=1500
LOAN_INTEREST_PLATINUM=30
LOAN_PLATFORM_FEE_PLATINUM=5
LOAN_LENDER_RETURN_PLATINUM=25
LOAN_DURATIONS_PLATINUM=7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30

VITE_APP_NAME="${APP_NAME}"
